body {
    margin: 0;
    padding: 0;
    background-color: #bbe9fb;
    color: #bbe9fb;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #12325f;
    font-size: 32px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.todo-list {
    flex-basis: 70%;
    margin-right: 20px;
    padding: 20px;
    background-color: #12325f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #fff;
    font-size: 24px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    background-color: #bbe9fb;
    color: #12325f;
    border: none;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.image-container {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
